 
 main{
	width:160px;
	height:280px;
	background-color:#f1f1f1;
	padding:40px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
img{
	max-width:100%;
}
h1{
	font-size:25px; 
}
.m{
	 margin: 0;
    padding: 0;
}
button{ 
	 height:40px; 
	color:white; 
	background-color:#1b1f90;
	padding:10px;
	border-radius:20%;
	border-style:none;  
	 
}




